#pane {
    -fx-background-image: url("../res/img/wallpaper.jpg");
    -fx-background-size: cover;
}

#start_button {
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: floralwhite;
    -fx-font-weight: bold;
    -fx-font-size: 50px;
    -fx-padding: 10 20 10 20;
    -fx-background-color: darkgreen;
}
#start_button:hover {
    -fx-background-color: green;
}
